header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 1rem;
}

.text-score {
  color: #fff;
  font-size: 2rem;
}

button {
  min-width: 60px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
}

button:hover {
  background-color: gold;
}
